{{ define "content" }}
<h1>
  Hakkımızda
  <a href="/admin/aboutus/add" class="btn btn-outline-primary float-right"><i class="fa fa-plus"></i> Yeni Ekle</a>
</h1>
<hr>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Kapak Görseli</th>
    <th scope="col">Başlık</th>
    <th scope="col">Açıklama</th>
    <th scope="col">Eklenme Tarihi</th>
  </tr>
  </thead>
  <tbody>
  {{ range $index,$value := .AboutUs }}
  <tr>
    <th scope="row">{{ $value.ID }}</th>
    <td><img width="80px" src="/{{ $value.Picture_url }}" alt=""></td>
    <td>{{ $value.Title }}</td>
    <td>{{ $value.Description }}</td>
    <td>{{ $value.CreatedAt }}</td>
    <td>
      <a href="/admin/aboutus/edit/{{ $value.ID }}" class="btn btn-outline-warning"><i class="fa fa-pen"></i></a>
      <a href="/admin/aboutus/delete/{{ $value.ID }}" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
    </td>
  </tr>
  {{ end }}
  </tbody>
</table>
{{ end }}